In [7]:
%load_ext tensorboard


import numpy as np
import pandas as pd
import pandas_profiling
from tensorflow import keras
from tensorflow.keras import models
from tensorflow.keras import layers
import os, datetime, glob
from shutil import copyfile

reSize=(224,224)
batchSize=50
h5FileName='res50simpons.h5'

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [8]:
train=keras.preprocessing.image.ImageDataGenerator(preprocessing_function=lambda x: (x - x.mean()) / x.std() if x.std() > 0 else x,zoom_range=0.1,width_shift_range=0.05,height_shift_range=0.05,horizontal_flip=True)
valid=keras.preprocessing.image.ImageDataGenerator(preprocessing_function=lambda x: (x - x.mean()) / x.std() if x.std() > 0 else x)

trainGenerator=train.flow_from_directory('train',target_size=reSize,batch_size=batchSize,class_mode='categorical', color_mode='rgb')
validGenerator=valid.flow_from_directory('valid',target_size=reSize,batch_size=batchSize,class_mode='categorical', color_mode='rgb')
# for cls, idx in trainGenerator.class_indices.items():
#     print('Class {} = {}'.format(idx, cls))

Found 13675 images belonging to 20 classes.
Found 5873 images belonging to 20 classes.

In [5]:
def create_model():
    vgg16=keras.applications.ResNet50V2(include_top=False, weights='imagenet',input_shape=(reSize[0],reSize[1],3))
#     output = layers.Flatten()(res50.output)
#     output = layers.BatchNormalization()(output)
#     output = layers.Dropout(0.5)(output)
#     output = layers.Dense(256, activation='relu')(output)
#     output = layers.BatchNormalization()(output)
#     output = layers.Dropout(0.5)(output)
#     output = layers.Dense(20, activation='softmax')(output)
#     model =models.Model(res50.input, output)

#     vgg16.trainable = False
    return models.Sequential(
        [     vgg16,
#             layers.Conv2D(64,kernel_size=3, input_shape = (reSize[0],reSize[1], 3), padding='same',activation='relu'),
#             layers.MaxPooling2D(pool_size=(2, 2)),
#             layers.Conv2D(128,kernel_size=3,padding='same',activation='relu'),
#             layers.Conv2D(128,kernel_size=3,padding='same',activation='relu'),
#             layers.MaxPooling2D(pool_size=(2, 2)),
#             layers.BatchNormalization(),
#             layers.Conv2D(128, kernel_size=3, padding='same',activation='relu'),
#             layers.Conv2D(128, kernel_size=3, padding='same',activation='relu'),
#             layers.MaxPooling2D(pool_size=(2, 2)),
#             layers.BatchNormalization(),
#             layers.Conv2D(128, kernel_size=3, padding='same',activation='relu'),
#             layers.Conv2D(128, kernel_size=3, padding='same',activation='relu'),
#             layers.MaxPooling2D(pool_size=(2, 2)),
# #             layers.Conv2D(256, kernel_size=3, padding='same',activation='relu'),
#             layers.BatchNormalization(),
#             layers.Flatten(),
#             layers.Dropout(0.5),
#             layers.Dense(512,activation="relu"),
            layers.GlobalAveragePooling2D(),
            layers.Dense(512,activation="relu"),
#             layers.Dense(128,activation="relu"),
#             layers.Dense(128,activation="relu"),
            layers.Dense(20, activation="softmax"),
#             model
        ]
    )

In [ ]:
model = create_model()
# model.trainable = True
model.compile(optimizer=keras.optimizers.SGD(lr=0.01, momentum=0.9, decay=1e-6, nesterov=True), loss="categorical_crossentropy", metrics=["accuracy"])
logdir = os.path.join("logs", datetime.datetime.now().strftime("%Y%m%d-%H%M%S"))
tensorboard_callback = keras.callbacks.TensorBoard(logdir, histogram_freq=1)
# model.summary()
model.fit_generator(trainGenerator,steps_per_epoch=trainGenerator.samples//batchSize,epochs=20,validation_data=validGenerator,validation_steps=validGenerator.samples//batchSize,callbacks=[tensorboard_callback],)
# model.save(h5FileName)
# # %tensorboard --logdir logs --host 0.0.0.0

Epoch 1/20
273/273 [==============================] - 175s 640ms/step - loss: 0.7601 - accuracy: 0.7847 - val_loss: 0.6968 - val_accuracy: 0.8191
Epoch 2/20
273/273 [==============================] - 175s 641ms/step - loss: 0.2523 - accuracy: 0.9333 - val_loss: 0.3429 - val_accuracy: 0.9082
Epoch 3/20
273/273 [==============================] - 174s 639ms/step - loss: 0.1724 - accuracy: 0.9539 - val_loss: 0.2405 - val_accuracy: 0.9347
Epoch 4/20
273/273 [==============================] - 174s 639ms/step - loss: 0.1339 - accuracy: 0.9652 - val_loss: 0.3410 - val_accuracy: 0.9099
Epoch 5/20
273/273 [==============================] - 178s 652ms/step - loss: 0.0988 - accuracy: 0.9737 - val_loss: 0.1928 - val_accuracy: 0.9532
Epoch 6/20
273/273 [==============================] - 176s 646ms/step - loss: 0.0837 - accuracy: 0.9785 - val_loss: 0.2127 - val_accuracy: 0.9494
Epoch 7/20
273/273 [==============================] - 177s 649ms/step - loss: 0.0609 - accuracy: 0.9833 - val_loss: 0.1631 - val_accuracy: 0.9619
Epoch 8/20
273/273 [==============================] - 177s 647ms/step - loss: 0.0554 - accuracy: 0.9855 - val_loss: 0.2055 - val_accuracy: 0.9532
Epoch 9/20
273/273 [==============================] - 176s 644ms/step - loss: 0.0516 - accuracy: 0.9862 - val_loss: 0.1686 - val_accuracy: 0.9622
Epoch 10/20
273/273 [==============================] - 177s 647ms/step - loss: 0.0437 - accuracy: 0.9874 - val_loss: 0.2301 - val_accuracy: 0.9472
Epoch 11/20
273/273 [==============================] - 178s 652ms/step - loss: 0.0372 - accuracy: 0.9900 - val_loss: 0.2348 - val_accuracy: 0.9439
Epoch 12/20
273/273 [==============================] - 179s 655ms/step - loss: 0.0391 - accuracy: 0.9896 - val_loss: 0.1578 - val_accuracy: 0.9639
Epoch 13/20
273/273 [==============================] - 178s 652ms/step - loss: 0.0234 - accuracy: 0.9930 - val_loss: 0.1695 - val_accuracy: 0.9629
Epoch 14/20
273/273 [==============================] - 177s 648ms/step - loss: 0.0294 - accuracy: 0.9910 - val_loss: 0.2191 - val_accuracy: 0.9528
Epoch 15/20
132/273 [=============>................] - ETA: 1:16 - loss: 0.0306 - accuracy: 0.9915

In [15]:
model_resnet = keras.applications.ResNet50(include_top=False, weights="imagenet", input_shape=(reSize[0],reSize[1],3))
# model_resnet.trainable = False
# inputs = layers.Input((reSize[0],reSize[1],3))
# model_resnet(inputs)
# conv1 = layers.Conv2D(32, (3,3), activation = 'relu')(model_resnet.output)
# pool1 = layers.GlobalAveragePooling2D()(model_resnet.output)
flatten1 =layers.Flatten()(model_resnet.output)
# bn1 = layers.BatchNormalization()(pool1)
drop1 =layers.Dropout(0.5)(flatten1)
flatten1 =layers.Flatten()(drop1)
fc2 = layers.Dense(20, activation='softmax')(flatten1)
model = models.Model(inputs=model_resnet.input, outputs=fc2)

In [78]:
model.save(h5FileName)

In [16]:
test=keras.preprocessing.image.ImageDataGenerator(preprocessing_function=lambda x: (x - x.mean()) / x.std() if x.std() > 0 else x)
testGenerator=test.flow_from_directory('test',target_size=reSize,batch_size=1,class_mode='categorical',shuffle=False, color_mode='rgb')

Found 990 images belonging to 1 classes.

In [17]:
k=model.predict_generator(testGenerator)

In [18]:
model.evaluate_generator(validGenerator)

[0.2191733983573099, 0.94500256]

In [19]:
def submussion():
    predict=model.predict_generator(testGenerator)
    predict= np.argmax(predict, axis=1)
    labels = (trainGenerator.class_indices)
    label = dict((v,k) for k,v in labels.items())
    predictions = [label[k] for k in predict]
    idList=[]
    for filename in testGenerator.filenames:
        idList.append(int(i[2:-4]))
    sub=pd.DataFrame(idList)
    sub.columns = ['id']
    sub['character']=predictions
    sub.sort_values(by=['id']).to_csv("Submussion(4).csv", index=False)

In [99]:
s

array([15, 10,  1,  9, 16,  2, 15,  5, 19, 16,  9, 16, 14,  2, 13, 18,  3,
       18,  1, 10,  3,  6,  5,  3, 16,  1,  1,  4,  4, 11, 19, 12,  4, 11,
       18,  1, 19, 15, 14,  6,  7,  2,  3,  8,  2, 11, 12,  7, 18,  3, 11,
        3, 18, 11, 10, 18,  7,  8, 14,  7,  4,  1,  5,  1, 10, 15,  7, 14,
       15,  4,  1,  1,  2,  5, 18, 12, 11, 19,  5,  8, 15,  1,  2,  1, 19,
        4, 19, 18,  1,  9,  4, 10,  3, 18,  1,  5,  8, 18,  1, 11, 10,  4,
       16, 14, 12,  9, 14,  7,  1, 16, 15, 16,  8,  7, 19, 18,  0,  6,  4,
        4,  4, 17,  7,  9, 15, 18, 18, 16,  1,  3,  1, 15,  0,  5,  2, 12,
        6,  4, 12, 16, 14,  7, 10,  7, 15,  4, 16,  2,  1, 14, 12,  0, 16,
        7, 16,  5,  7,  5, 13, 15,  6, 11,  1, 14, 12,  7,  3,  2,  8, 19,
        7,  6,  0,  3,  1, 18, 18,  6, 16,  9, 11,  8,  2,  6,  5,  7,  0,
        4, 14, 13, 10,  7,  7, 16,  1,  1,  5,  2, 15, 19, 11,  2, 19,  1,
        6,  5,  1, 15,  9,  0, 17, 10,  3, 12, 17, 18,  8,  9,  3, 12, 13,
        7, 11, 14,  5,  6, 16, 17, 13,  6,  9,  6, 11,  9, 15, 17,  5,  0,
       12, 12, 16, 16,  1, 18, 15,  7,  5, 15,  3,  7,  6, 17,  6,  3, 11,
        2,  1,  8, 13,  2,  0,  4,  8,  6,  8,  9, 16,  7,  8,  3,  3,  7,
        2, 17,  8,  7,  5,  1,  0, 11, 16,  4, 19, 18, 10,  2,  0, 11, 11,
        7, 13, 19,  9, 14,  5, 11, 12, 18, 17,  0, 12, 11,  6,  4, 11,  1,
        7, 14, 19,  0, 10,  3, 18,  0, 16,  4, 12,  6, 15, 11, 15, 16,  7,
        0,  7, 16,  2,  2, 10,  7, 12, 12,  1, 16, 14, 12,  3,  2, 17,  0,
        7,  3, 13, 12, 12,  1,  7,  5, 16,  4, 15, 14,  5, 19, 12,  9,  1,
        1, 14,  9,  3, 16, 17,  5, 14, 19, 10,  4, 19, 17,  7, 17, 14,  5,
       17, 19, 10, 16, 16,  5,  7, 18, 19, 13, 11, 12, 17,  7, 15,  2, 13,
       14, 18, 17, 18, 11, 19,  5, 16, 12,  6, 16,  5,  5, 10,  6, 13,  5,
        5,  1, 12, 12, 14,  4, 17,  7, 18,  1,  8,  5, 15, 19,  1, 12, 12,
        5, 14, 15, 16,  7,  4, 12,  3, 18,  1, 15, 16, 18, 17, 11, 13, 19,
       17,  5,  9, 19,  8, 12,  0, 14, 16, 16,  0, 13, 12, 11,  4,  5,  9,
       11,  2, 15,  7,  4, 12, 17, 13,  7, 19,  2, 13, 18, 19,  2,  5, 18,
       13, 17, 15, 18,  8, 10,  9,  3, 11,  4,  9, 18, 16,  6,  4, 10,  1,
        8, 11, 12,  2,  5,  4,  8, 11,  5,  4, 10,  4,  3,  0,  8,  7,  7,
        0, 13,  9,  3,  5,  7, 13, 16,  9,  5, 16,  4,  2,  3, 11, 17, 16,
        8, 15, 15, 19, 13,  2, 16,  5, 10,  5, 19,  9, 14,  5,  1, 14,  4,
       19, 15, 15, 17,  2,  9,  5,  9,  7,  7, 10, 11, 10,  6, 10,  2, 14,
        9, 17, 16,  0, 17,  0, 15,  7, 18, 10, 19,  0,  9,  0,  5,  9, 15,
        5,  9, 16, 12, 18, 11, 15, 19, 18, 18, 16, 15,  5,  2, 15,  1, 11,
        7,  7,  1, 17, 15, 10, 18,  8, 16, 19, 16,  6,  7,  5,  0,  1,  8,
        8,  3,  9,  6,  3, 13,  2, 17,  6, 11, 16,  6,  4,  1,  2, 18,  2,
       11,  8,  8,  0, 10,  2,  4,  7,  2, 14,  2, 19,  4,  0,  5,  4,  7,
       11,  9,  8,  1,  1,  9,  9,  0,  5,  6,  2,  3, 15,  8,  9,  7,  8,
       17, 18,  8, 15, 15,  5, 12, 15,  8, 10,  6,  7, 19, 16,  9,  9, 14,
       16, 16, 15,  4,  7, 12, 10,  7, 13,  3, 18,  4,  6, 16, 16, 14,  8,
       19, 11, 12,  2, 14, 18, 13, 12,  7,  4,  8,  3, 12, 16,  5, 15, 15,
        6,  4,  9, 17, 11, 16, 14,  6, 18, 13, 11, 15,  3,  5,  1,  9,  3,
       19,  6,  7, 17,  3, 15, 13,  6, 19, 18,  5,  1, 15, 11, 18,  8,  7,
       12, 12,  9,  3,  8, 17,  8, 14, 15,  3, 13, 17,  8, 19, 18, 15, 18,
        7,  4, 15,  5, 15, 18, 12, 12,  2, 16,  6, 13, 15, 10, 12, 18, 11,
       13, 19, 10,  0, 17,  6,  2,  2, 14, 16,  7, 16, 17,  7,  7, 15, 15,
       17, 19,  4,  6, 15,  3,  3, 16,  7, 10, 14, 16,  6,  8, 18, 11,  5,
        5,  0, 10,  7,  8, 16, 13,  7,  2, 11,  7,  4, 12, 15, 15, 18,  6,
       15,  6, 16,  5, 14,  4, 12, 17, 18,  3,  2, 11,  4,  4, 17,  2, 11,
        1,  4,  7, 13,  7,  9, 16,  9,  8, 12, 12,  5,  5, 12,  7, 13,  9,
       10,  6, 15,  8, 10, 16,  2,  0,  0,  9, 19,  9,  8,  9,  8,  3, 10,
       18, 13,  2,  4,  9,  2, 15, 14,  5,  8,  0, 10, 12,  3, 16,  0, 17,
        0,  4,  8, 15, 11,  4,  1, 11, 12,  3,  4, 18, 16, 18,  4, 13,  7,
       19,  7, 14,  2, 19, 16,  9, 11, 19,  9,  7, 15,  4,  6,  4, 18, 19,
        0, 10, 18,  0,  8,  8,  7, 10,  2, 18,  2, 16,  5,  2,  1, 15, 13,
        7, 10,  9, 18, 16, 14,  7, 16, 15, 14,  8, 15, 15,  1,  8,  1,  6,
        3, 14, 10,  7,  2,  8, 12, 19,  8,  2, 10,  4, 10,  2, 17,  4, 13,
       11,  5,  9,  2])

In [41]:
labels = (trainGenerator.class_indices)

In [45]:
labels

{'abraham_grampa_simpson': 0,
 'apu_nahasapeemapetilon': 1,
 'bart_simpson': 2,
 'charles_montgomery_burns': 3,
 'chief_wiggum': 4,
 'comic_book_guy': 5,
 'edna_krabappel': 6,
 'homer_simpson': 7,
 'kent_brockman': 8,
 'krusty_the_clown': 9,
 'lenny_leonard': 10,
 'lisa_simpson': 11,
 'marge_simpson': 12,
 'mayor_quimby': 13,
 'milhouse_van_houten': 14,
 'moe_szyslak': 15,
 'ned_flanders': 16,
 'nelson_muntz': 17,
 'principal_skinner': 18,
 'sideshow_bob': 19}

In [39]:
trainGenerator.index_array

array([ 3506,  3752,  1976, ..., 12926,  8880,  5662])

In [42]:
label = dict((v,k) for k,v in labels.items())

In [44]:
label

{0: 'abraham_grampa_simpson',
 1: 'apu_nahasapeemapetilon',
 2: 'bart_simpson',
 3: 'charles_montgomery_burns',
 4: 'chief_wiggum',
 5: 'comic_book_guy',
 6: 'edna_krabappel',
 7: 'homer_simpson',
 8: 'kent_brockman',
 9: 'krusty_the_clown',
 10: 'lenny_leonard',
 11: 'lisa_simpson',
 12: 'marge_simpson',
 13: 'mayor_quimby',
 14: 'milhouse_van_houten',
 15: 'moe_szyslak',
 16: 'ned_flanders',
 17: 'nelson_muntz',
 18: 'principal_skinner',
 19: 'sideshow_bob'}

In [47]:
predictions = [label[k] for k in gg]

In [ ]:
predictions

In [69]:
oo=[]
for i in testGenerator.filenames:
    oo.append(int(i[2:-4]))

In [70]:
ii=pd.DataFrame(oo)
ii.columns = ['id']

In [73]:
ii['character']=predictions

In [ ]:
c=[]
for i in gg:
    c.append(kk[i])

In [45]:
ssubmussion = pd.read_csv("sampleSubmission.csv")

In [52]:
ssubmussion['character']=c

In [53]:
ssubmussion

      id               character
0      1             moe_szyslak
1      2           lenny_leonard
2      3  apu_nahasapeemapetilon
3      4        krusty_the_clown
4      5            ned_flanders
..   ...                     ...
985  986            mayor_quimby
986  987            lisa_simpson
987  988          comic_book_guy
988  989        krusty_the_clown
989  990            bart_simpson

[990 rows x 2 columns]

In [54]:
pd.DataFrame(ssubmussion).to_csv("Submussion(4).csv", index=False)

In [76]:
ii.sort_values(by=['id']).to_csv("Submussion(4).csv", index=False)

In [74]:
ii

      id               character
0      1          comic_book_guy
1     10           lenny_leonard
2    100  apu_nahasapeemapetilon
3    101        krusty_the_clown
4    102            ned_flanders
..   ...                     ...
985  987            mayor_quimby
986  988            lisa_simpson
987  989          comic_book_guy
988   99        krusty_the_clown
989  990            bart_simpson

[990 rows x 2 columns]

In [72]:

ii['id']

0        1
1       10
2      100
3      101
4      102
      ...
985    987
986    988
987    989
988     99
989    990
Name: id, Length: 990, dtype: int64